# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.sqlite3
*.log
*/__pycache__/

# Django
/staticfiles/
/media/
/db.sqlite3

# Virtual Environments
venv/
.env

# IDEs
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Migrations
*/migrations/*

# Pytest
.pytest_cache/
test_*.log

# Docker
*.dockerfile
*.env.docker
docker-compose*.yml
